<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>541249985015-52l9juiqvnqkimv5cf6bjnnc1aiojl0l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.541249985015-52l9juiqvnqkimv5cf6bjnnc1aiojl0l</string>
	<key>API_KEY</key>
	<string>AIzaSyDfQ65kvDDddhWXILJRJJkZV0ODpaL4JJQ</string>
	<key>GCM_SENDER_ID</key>
	<string>541249985015</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.harmsen.SkinSight</string>
	<key>PROJECT_ID</key>
	<string>skinsight-75169</string>
	<key>STORAGE_BUCKET</key>
	<string>skinsight-75169.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:541249985015:ios:5d042d54f5f8613071f6f2</string>
</dict>
</plist>